
body{
	background:url(image0.jpg);
	height: 50vh;
	background-position: left;

}

body div{
	background-color: red;
	color:red ;
	text-align: center;
	margin: 80px;
	padding: 50px;
	border-radius: 50px;
}

div p {
	color: green;
	font-style: Britannic Bold ;
	font-size: 20px;
}